.upload-heading {
        text-align: center;
        background-color: 'aqua';
        font-size: 24px;
        color: #333; /* Dark gray text color */
        border-bottom: 2px solid #333; /* Dark gray border bottom */
        padding-bottom: 10px; /* Spacing below the text */
    }

    .csv-viewer {
        display: flex;
        justify-content: center; /* Align items horizontally at the center */
        align-items: center; /* Align items vertically at the center */
        height: 100%; /* Adjust height as needed */
        padding: 10px;
    }
    
    .centered-table {
        width: 50%; /* Optionally set a width */
        text-align: center; /* Center align text within table cells */
        padding: 10px;
    }
    .upload-heading,.centered-table th,
    .centered-table td {
        padding: 10px; /* Adjust padding as needed */
        border: 5px solid #ccc; /* Add borders for cells */
    }
    
    
    